@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    @page {
        size: A4 landscape;
        /* don't set margin → lets Chrome keep its default */
    }

    .print-landscape {
        width: 271.6mm;
        height: 184.6mm;
        margin: 0 auto; /* center horizontally */
    }
}
